<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head.html :: head"> </head>
<body>
<div th:replace="fragments/adminNavBar.html  :: navbarAdmin"></div>

<div class="container my-5">
    <h2 class="mb-5">New Book</h2>
    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/admin/addBook}" th:object="${book}" method="post">
                <div th:replace="fragments/form_book.html::formField(book=${book})"></div>
            </form>
        </div>
    </div>
</div>

<div th:replace="index::footer"></div>
</body>
</html>